.combatOptionsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.combatOptionsLeftWrap {
	margin-right: 8px;
	max-width: 520px;
	width: 100%;
}

.combatOptionsRightWrap {
	margin-left: 8px;
	max-width: 520px;
	width: 100%;
}

.combatOptionsContentWrap {
	opacity: 0;
	visibility: hidden;
	display: none;
	flex-direction: row;
	background-color: white;
	margin-top: 8px;
	justify-content: center;
	border: 5px solid hsl(206, 61%, 80%);
	padding: 2px;
	border-radius: 8px;
	font-size: 0.8rem;
	width: 100%;
	margin: 16px 0px 0px 0px;
	animation: slideInOut 0.8s ease-in-out;
}

.show {
	opacity: 1;
	visibility: visible;
	display: flex;
}

.showCombatOptions {
	display: flex;
	justify-content: center;
}

.showCombatOptionsButton {
	border: 2px solid hsl(7, 47%, 68%);
	background-color: hsl(9, 77%, 44%);
	text-align: center;
	padding: 16px 48px 16px 48px;
	border-radius: 8px;
	transition: border-radius 1s;
}

.showCombatOptionsButtonShow {
	border-radius: 50%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.showCombatOptionsButton:hover {
	background-color: hsl(9, 77%, 38%);
	cursor: pointer;
}

@keyframes slideInOut {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100px);
	}

	50% {
		opacity: 0.5;
		visibility: visible;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
