.parentDiv {
	height: 90vh;
	align-content: center;
	max-width: 520px;
	min-width: 520px;
}

.wrapperDiv {
	color: hsl(190, 100%, 95%);
	background-color: #061626;
	margin-top: 8px;
	justify-content: center;
	border: 5px solid hsl(208, 51%, 56%);
	padding: 16px;
	border-radius: 8px;
}

.backNextDiv {
	display: flex;
	flex-direction: row;
}

.descriptionDiv {
	border: 3px solid hsl(208, 51%, 56%);
	border-radius: 4px;
	padding: 6px;
	margin-top: -5px;
	margin-left: 10px;
}
